@page "/"

<PageTitle>Battleships Game</PageTitle>

<div class="container text-center py-5">
    <h1>🚢 Battleships Game</h1>
    <p class="lead">A classic naval combat game for two players!</p>
    
    <div class="my-4">
        <h3>Game Rules:</h3>
        <ul class="list-unstyled">
            <li>📏 Board size: 10-20 squares</li>
            <li>🚢 Ships are placed randomly</li>
            <li>🎯 Take turns shooting at your opponent's board</li>
            <li>💥 Sink all enemy ships to win!</li>
        </ul>
    </div>
    
    <div class="my-4">
        <h4>Ships:</h4>
        <ul class="list-unstyled">
            <li>2x Single (1 cell)</li>
            <li>2x Double (2 cells)</li>
            <li>1x Triple (3 cells)</li>
            <li>1x Cross-shaped (5 cells)</li>
            <li>1x Plus-shaped (5 cells)</li>
        </ul>
    </div>
    
    <a href="/game" class="btn btn-primary btn-lg mt-3">Start Playing!</a>
</div>
